body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #eaeaea;
    padding: 30px;
    margin: 0;
}

h1 {
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: auto;
}

.btn {
    background: #4a4a4a;
    color: white;
    padding: 14px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}

.btn:hover {
    background: #000;
}
.calc, .box, .calc-box {
    width: 300px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}


#display {
    display: block;
    margin: 0 auto 15px auto;
    width: 100%;
    max-width: 300px;
        
    height: 55px;
    font-size: 26px;
    text-align: right;
    padding-right: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}
.calc-box {
    width: fit-content;  
    margin: 0 auto;        
    background: white;
    padding: 20px;
    border-radius: 12px;
}


input[type="number"] {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.box button {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    background: #dcdcdc;     
    color: #000;
    border: none;
    border-radius: 8px;
    transition: background 0.2s ease;
}
button:hover {
    background: #cfcfcf;     
}

.row button {
    height: 50px;
    font-size: 20px;
}

.top-btn {
    background: #dcdcdc; 
}

.op {
    background: #ffb347;     
}

.equal {
    background: #6fcf97;
}

.full {
    width: 100%;
    background: red;
    color: white;
}

#result {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.unit-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}

.unit-btn {
    padding: 14px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    background: #4a90e2;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.unit-btn:hover {
    background: #2d6fba;
}
.sci-panel {
    display: none;
    margin-bottom: 15px;
}

.sci-panel .row button {
    background: #dcdcdc;
    height: 45px;
    font-size: 18px;
}
.sci-panel {
    display: none;
    margin-bottom: 10px;
}

.sci-row button {
    height: 40px !important;
    font-size: 16px;
    background: #eeeeee;
}
.sci-panel .row button,
.sci-row button {
    height: 45px;
    font-size: 18px;
    background: #dcdcdc;    
}
